# Logs
logs
*.log

# Dependency directories
node_modules/
package-lock.json

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env

# temp and cache directory
.temp
.cache
.parcel-cache

# Stores VSCode versions used for testing VSCode extensions
.vscode

# Test files
test.ael

# Windows Batch files
*.bat
*.cmd
